/* 

    maincolor: #E4480E;
    color: #181818;
*/

*{
    padding: 0;
    margin: 0;
}
body{
    
    background-color: #181818;
    font-family: 'Baloo 2', cursive;
}
.nav{
    position: sticky;
    top: 0px;
    z-index: 9999;
}
.main_nav{
    width: 100%;
    background-color: #181818;
    border-bottom: 0.1px solid #e4470e52;
    
}
.wrap-nav{
   
    width: 70%;
    margin: 0 auto;
    display: flex;
}
.nav-right{
    width: 50%;
}

.logo{
    width: 50px;
    height: 50px;
    padding: 10px;
}
.logo img{
    width: 100%;
    height: 100%;
}
.nav-left{
    width: 50%;
    text-align: right;
    padding-top: 20px;
    color: #E4480E;
    font-size: 11px;
    text-decoration: underline;
    padding-bottom: 10px;
}
                /* landing page */

.main{
    width: 100%;
    margin-bottom: 20px;
}
.wrap{
    width: 80%;
    margin: 150px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text{
    width: 50%;
    min-width: 400px;
    display: flex;
    justify-content: center;
}
.content{
    
    min-width: 400px;
  
    cursor: pointer;
}

.content h1{
    text-transform: capitalize;
    font-family: 'Baloo 2', cursive;
    color: #717d76;
    font-size: 30px;
   
}
.content h1 span{
    color: #E4480E;
}
.content h2{
    font-family: 'Macondo2', cursive;
    color: #868686;
    padding: 10px;
    font-size: 15px;
    text-decoration: underline;
    text-transform: capitalize;
}
.content h2 i{
    padding: 5px;
}

/* form-section */

.login-form{
    width: 50%;
    display: flex;
    justify-content: center;
    
}
.form-text{
    margin: 0px 30px;
    font-size: 20px;
    color: #868686;
    display: flex;
    font-family: 'Macondo', cursive;
}
.form-text h2{
    text-transform: uppercase;
    margin: 10px;
}
.form-text img{
    width: 40px;
    height: 40px;
}
.form input[type="text"],input[type="password"]{
    display: block;
    margin:20px 30px;
    padding:10px 10px;
    width: 18rem;
    background-color: rgba(240, 248, 255, 0.305);
    border-radius: 10px;
    border: 0;
    color: rgba(219, 222, 222, 0.881);
}
.form input::placeholder{
    padding-left: 5px;
    color: black;
}
.form input[type="checkbox"]{
    margin:5px 40px;
    margin-right: 5px;
    accent-color: #e4470e52;

}
.form span{
    color: #717d76;
    padding: 5px;
    display: inline-block;
    font-family: 'Baloo 2', cursive;
}
.check{
    min-width: 200px;
}
.form input[type="submit"]{
    position: relative;
    margin-left: 150px;
    margin-top: 20px;
    padding:8px 25px;
    border-radius: 10px;
    border: 0;
    font-size: 1rem;
    color: white;
    background-color: #E4480E;
    font-family: 'Baloo 2', cursive;
}
.form h3{
    font-size: 15px;
    color: #717d76;
    padding-left: 25px;
    padding-top: 5px;
    min-width: 300px;
    
}
.form h3 a,.footer a{
    color: rgb(49, 109, 164);
}
.footer{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 0.6rem;
    bottom: 10px;
    color: #717d76;
    font-family: sans-serif;
}

@media only screen and (max-width: 650px) {
    .wrap-nav{
   
        width: 92%;
        margin: 0 auto;
        display: flex;
    }
    .wrap{
        width: 88%;
        margin: 90px auto;
        
    }
    .form{
        text-align: center;
    }
    .form input[type="text"],input[type="password"]{
        width: 17rem;
        margin:20px 2px;
    }
    .form input[type="submit"]{
        margin-left: 0px;
        text-align: center;
    }
    .form-text{
        margin: 0px 0px;
        font-size: 15px;
       
       
    }
    .form input[type="checkbox"]{
        margin:5px 10px;
        margin-right: 5px;
        
        
    
    }
    .check{
       text-align: left;
        
    }
    .text{
    display: none;
    }

    .form h3{
        font-size: 10px;
        color: #717d76;
        padding-left: 0px;
        min-width: 100px;
        text-align: center;
        
    }
   .footer{
    font-size: 0.4rem;
   }
  }
  @media only screen and (max-width: 290px){
    .form input[type="text"],input[type="password"]{
        width: 15rem;
    }
  } 